body{
    background-color: paleturquoise;
    font-family: Verdana
}
ul#topbarlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkturquoise;
    overflow: hidden;
}
#topbarlist li{
    float:left
}
#topbarlist a{
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}